<% content_for :title, "Editing bin" %>

<h1>Editing bin</h1>

<%= render "form", bin: @bin, locations: @locations %>

<br>

<div>
  <%= link_to "Show this bin", @bin %> |
  <%= link_to "Back to bins", bins_path %>
</div>
