<nav class="navbar">
  <div class="nav-left">
    <span><%= link_to "BINS", bins_path, class: "nav-link" %></span>
    <span><%= link_to "ITEMS", items_path, class: "nav-link" %></span>

    <!-- Always show LOG and SALE as text -->
    <span class="disabled-text">LOG</span>
    <span class="disabled-text">SALE</span>
  </div>

  <div class="nav-right">
    <%= link_to "A", "#", class: "profile-icon disabled-link" %>
  </div>
</nav>
